Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: ["waivez-mongodb-config"]
          roleName: "aws-elasticbeanstalk-ec2-role"

files:
  "/tmp/databaseConfig.json" :
    mode: "000644"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://waivez-mongodb-config.s3.amazonaws.com/databaseConfig.json