@import url('https://fonts.googleapis.com/css2?family=Kameron:wght@700&family=Poppins:wght@600&family=Raleway:wght@900&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background-color: #FFFFFF;
  color: #7F00FF;
  margin: 0;

}

h1 {
  font-size: 5.5em;
  color: #7F00FF;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;

}
